<!-- Nav Bar -->
<nav class="navbar navbar-expand-sm navbar-light navbar-custom">
    <img class = "navbar-brand"
      src="/images/burger.png"
      width="50" height="50" alt="" style = "background: none; background-color: transparent;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a href="/" <% if(active=='Home' ){ %>
        class="nav-item nav-link nav-button disabled"
        <% } else{ %>
          class="nav-item nav-link nav-button"
          <% } %>
            >Home
      </a>

      <%if(currentUser) { %>
        <a href="/order" <% if(active=='Order' ){ %>
          class="nav-item nav-link nav-button disabled"
          <% } else{ %>
            class="nav-item nav-link nav-button"
            <% } %>
              >Order
        </a>
        <% } else{ %>
          <a href="/order" <% if(active=='Order' ){ %>
            class="nav-item nav-link nav-button disabled"
            <% } else{ %>
              class="nav-item nav-link nav-button"
              <% } %>
                >Menu
          </a>
        <% } %>


          <%if(currentUser) { %>
            <a href="/users/cart" <% if(active=='Cart' ){ %>
              class="nav-item nav-link nav-button disabled"
              <% } else{ %>
                class="nav-item nav-link nav-button"
                <% } %>
                  >Cart
            </a>
            <% } %>

              <%if(currentUser) { %>
                <a href="/users/customerAccount" <% if(active=='CustomerAccount' ){ %>
                  class="nav-item nav-link nav-button disabled"
                  <% } else{ %>
                    class="nav-item nav-link nav-button"
                    <% } %>
                      >Account
                </a>
                <% } %>

                  <%if(currentUser && currentUser.role=='admin' ) { %>
                    <a href="/menu/editmenu" <% if(active=='EditMenu' ){ %>
                      class="nav-item nav-link nav-button disabled"
                      <% } else{ %>
                        class="nav-item nav-link nav-button"
                        <% } %>>Edit Menu
                    </a>
                    <% } %>      
                        <%if(currentUser && (currentUser.role=='staff' || currentUser.role=='admin')) { %>
                          <a href="/staff/orderlist" <% if(active=='orderlist' ){ %>
                            class="nav-item nav-link nav-button disabled"
                            <% } else{ %>
                              class="nav-item nav-link nav-button"
                              <% } %>>Order List
                          </a>
                          <% } %>      
                            <%if(currentUser && currentUser.role=='admin') { %>
                              <a href="/users/viewusers" <% if(active=='ViewUsers' ){ %>
                                class="nav-item nav-link nav-button disabled"
                                <% } else{ %>
                                  class="nav-item nav-link nav-button"
                                  <% } %>>User List
                              </a>
                              <% } %>      
                                <%if(currentUser && currentUser.role=='admin') { %>
                                  <a href="/staff/usagereport" <% if(active=='usagereport' ){ %>
                                    class="nav-item nav-link nav-button disabled"
                                    <% } else{ %>
                                      class="nav-item nav-link nav-button"
                                      <% } %>>Usage Report
                                  </a>
                                  <% } %>
    </div>
  </div>
</nav>
<!-- Bootstrap js links -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>