<!DOCTYPE html>
<html>
  <head>
    <title>Create New Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <% if (err !== undefined && err.length > 0) { %>
    <div class="text-danger"><%= err %></div>
    <% } %>
    <h1>Create new account</h1>
    <form action="/users/createuser" method="post">
        <label for="username">Username: </label>
        <input name="username" type="text" value="<%= username %>" required/>
        <br/>
        <label for="phone">Phone Number: </label>
        <input name="phone" type="tel" required/>
        <br/>
        <label for="address">Address: </label>
        <input name="address" required/>
        <br/>
        <label for="aptsuite">Apartment, suite, etc: </label>
        <input name="aptsuite"/>
        <br/>
        <label for="city">City: </label>
        <input name="city" required/>
        <br/>
        <label for="state">State/Province: </label>
        <input name="state" required/>
        <br/>
        <label for="zip">Zip: </label>
        <input name="zip" type="number" required/>
        <br/>
        <label for="password">Password: </label>
        <input name="password" type="password" required/>
        <br/>
        <label for="passwordConf">Confirm Password:</label>
        <input name="passwordConf" type="password" required/>
        <br/>
        <input type="submit" value="Create" />
    </form>
  </body>
  <script src="/javascripts/global.js"></script>
</html>
