<!DOCTYPE html>
<html>
  <head>
    <title>Create New Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  </head>
  <body style="background-color: #6aa84f;">
    <div>
        <h1 class="logo">Badger Bytes</h1>
    </div>
  </body>
  <script src="/javascripts/global.js"></script>
</html>
