<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />

    <title>Customer Account Page</title>
  </head>
  <body>

    <!-- Webpage Title -->
    <h1 class="text-center logo">Badger Bytes</h1>


    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a class="nav-link nav-button" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-button" href="#">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  nav-button" href="#" tabindex="-1" aria-disabled="true">ViewCart</a>
              </li>
            </ul>
        </div>
    </nav>

    <!-- dropdown -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>


    <!-- Account update forms -->
    <form style="margin: 0px;">
        <div class="box" style="margin-top: 20px;">
            <div class="row">
                <div class="sub-header float-left">Change Username</div>

                <div class="float-right" style="width: 20%" ><button class="main-button" type="button">Update</button></div>
            </div>

            <label class="field-label" for="newUsername text-left">New Username</label>
            <input class="field" type="text" name="newUsername">
        </div>
    </form>

    <form style="margin: 0px;">
        <div class="box" style="margin-top: 20px;">
            <div class="row">
                <div class="sub-header float-left">Change Password</div>
    
                <div class="pull-right" style="width: 20%"><button class="main-button float-right" type="button">Update</button></div>
            </div>
    
            <label class="field-label text-left" for="newPassword">Password</label>
            <input class="field" type="text" name="newPassword">
            
            <label class="field-label text-left" for="confirmPassword">Update</label>
            <input class="field" type="text" name="confirmPassword">
        </div>
    </form>

    <form style="margin: 0px;">
        <div class="box" style="margin-top: 20px;">
            <div class="row">
                <div class="sub-header float-left">Change Phone Number</div>
    
                <div class="pull-right" style="width: 20%" ><button class="main-button float-right" type="button">Update</button></div>
            </div>
    
            <label class="field-label text-left" for="newPhoneNumber">New Phone Number</label>
            <input class="field" type="text" name="newPhoneNumber">
        </div>
    </form>

    <form style="margin: 0px;">
        <div class="box" style="margin-top: 20px;">
            <div class="row">
                <div class="sub-header float-left">Change Address</div>
    
                <div class="pull-right" style="width: 20%" ><button class="main-button float-right" type="button">Update</button></div>
            </div>
    
            <label class="field-label text-left" for="fname2">Address Line 1</label>
            <input class="field" type="text" name="fname">
            
            <label class="field-label text-left" for="fname3">Address Line 2</label>
            <input class="field" type="text" name="fname">
        </div>
    </form>

    <!-- Bootstrap js links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>

