<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />

  <title>Home Page</title>
</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Home"});%>


  <div class="container text-center">
    <h1 class="header1">Come in and dine or order online</h1>
    <div class="row mb-3">
      <% if(currentUser) { %>
        <button class="main-button" type="button"><a class="link" href="/order/ordermenu">Order</a></button>
      <% } else { %>
        <button class="main-button" type="button"><a class="link" href="/order/viewmenu">Order</a></button>
      <% } %>
      <button class="main-button" type="button"><a class="link" href="https://www.google.com/maps/place/Manhattan,+New+York,+NY/@40.7590615,-73.969231,13z/data=!4m2!3m1!1s0x89c2588f046ee661:0xa0b3281fcecc08c">Directions</a></button>
    </div>
    <div id="map-container-google-1" class="z-depth-1-half map-container">
      <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="height: 500px; width: 60vw; border:0" allowfullscreen></iframe>
    </div>
  </div>

</body>
<script src="/javascripts/global.js"></script>
</html>