<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Badger Bytes</h1>
    <p><%= title %></p>
  </body>
  <script src="/javascripts/global.js"></script>
</html>
