<!DOCTYPE html>
<html>

<head>
  <title>Add New Payment Method</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body style="background-color: #6aa84f;">
  <% if (err !==undefined && err.length> 0) { %>
    <div class="text-danger">
      <%= err %>
    </div>
    <% } %>
    <!-- Topbar -->
    <%- include('partials/topbar', {page: "Cart"});%>
      <form action="/order/addpaymentmethod" method="post">
      <div style="margin-top: 5%;">
        <h1 class="header2" style="margin-left: 10%;">Add New Payment Method</h1>
          <div class="box" style="margin-top: 20px;">
            <label class="field-label text-left" for="name">Holder Name: </label>
            <input class="field" name="name" required />
            <label class="field-label text-left" for="cardnumber">Card Number: </label>
            <input class="field" name="cardnumber" type="number" required />
            <label class="field-label text-left" for="ccv">CCV: </label>
            <input class="field" name="ccv" type="number" required />
            <label class="field-label text-left" for="expmonth">Expires:</label>
            <input class="small-field" name="expmonth" type="number" required />
            <label class="field-label text-left" for="expyear"> / </label>
            <input class="small-field" name="expyear" type="number" required />
          </div>
          <div class="text-center">
            <input class="main-button" style="margin-top: 10px; margin-bottom: 5vh;" type="submit" value="Add" />
          </div>
        </div>
      </form>

</body>
<script src="/javascripts/global.js"></script>

</html>