<!DOCTYPE html>
<html>

<head>
  <title>Payment Methods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
  ul {
    padding-left: 2%;
    width: 96%;
  }
  ul li {
    padding: 12px;
    font-size: 18px;
    display: block;
    position: relative;
    line-height: 20px
  }
</style>
<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart" });%>
    <div class="container">
      <div class="row text-center header2">
        <div class="col-sm-12">
          <h1>Payment Methods</h1>
        </div>
      </div>
      <div class="row box"> 
        <ul>
          <% cards.forEach(function(card) { %>
          
          <li class="cart-item">
            <div class = "row">
              <div class = "col-sm-4 col-md-6 col-xs-12">
                Card ending in <%= card.cardNumber%10000 %>
              </div>
              <div class = "col-sm-8 col-md-6 col-xs-12">
                <form action="/order/cardsubmit" method="POST">
                  <input type="hidden" value="<%= card.id %>" name="toUse" />
                  <div class="row float-right">
                    <!-- <div class="col-6" > -->
                      <input class="main-button" style="padding:0px;margin-right:5px; margin-left:5px;font-size:.8em;min-width:0px;width: 88px; background-color: #68a9df; color:white" name="action" type="submit" value="Use this card" />
                    <!-- </div> -->
                    <!-- <div class="col-6"> -->
                      <input class="main-button" style="padding:0px;margin-right:5px; margin-left:5px;font-size:.8em; min-width:90px;width: 88px; background-color: #e06666;color:white" name="action" type="submit" value="Delete" />
                    <!-- </div> -->
                  </div>
                </form>
              </div>
            </div>
          </li>
            <% }); %>
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center mb-2 mt-3" width="90%">
            <button type= "button" class="main-button" style="height:50px; font-size:.8em; width: 180px;"><a class = "link" href="/order/addpaymentmethod">Add New Payment Method</a></button>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="/javascripts/global.js"></script>

</html>