<!DOCTYPE html>
<html>

<head>
  <title>Payment Methods</title>
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart"});%>
  <div class="container">
    <div class="text-center">
      <h1 class="header2 text-center">Payment Methods</h1>
    </div>
    <div class="row box text-center" width="90%">
      <ul>
        <% cards.forEach(function(card) { %>

              
            <div class="row text-center">
              <div class="d-flex justify-content-between">
              <li class="card-info mb-4 ">
                Card ending in <%= card.cardNumber%10000 %>
              </li>
              <div class="float-right ml-4">
                <form action="/order/cardsubmit" method="POST">
                  <input type="hidden" value="<%= card.id %>" name="toUse" />
                  <div class="row">
                    <div class="col-6"width="60vw">
                      <input class="signup-button" name="action" type="submit" value="Use this card" />
                    </div>
                    <div class="col-6" width="60vw">
                      <input class="logout-button" name="action" type="submit" value="Delete" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
          <% }); %>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center mb-2 mt-3" width="90%">
          <a class="main-button" href="/order/addpaymentmethod">Add New Payment Method</a>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/javascripts/global.js"></script>
</html>