<!DOCTYPE html>
<html>
  <head>
    <title>Edit Menu item</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Edit Menu Item</h1>
    <form action="/menu/editmenuitem" method="post">
        <label for="name">Name: </label>
        <input name="name" type="text" value="<%= menuItem.name %>" required />
        <br/>
        <label for="description">Description: </label>
        <textarea name="description" required><%= menuItem.description %></textarea>
        <br/>
        <label for="price">Price:</label>
        <input name="price" type="number" min="0.01" step="0.01" value="<%= menuItem.price %>" required />
        <br/>
        <input type="hidden" value="<%=menuItem.id%>" name="itemId" />
        <input type="submit" value="Save Changes" />
    </form>
  </body>
  <script src="/javascripts/global.js"></script>
</html>
