<!DOCTYPE html>
<html>

<head>
  <title>Create New Account</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body style="background-color: #6aa84f;">
  <% if (err !==undefined && err.length> 0) { %>
    <div class="text-danger">
      <%= err %>
    </div>
    <% } %>
    <!-- Topbar -->
    <%- include('partials/topbar', {page: "CustomerAccount"});%>
      <form action="/users/createuser" method="post">
 
        <div class="row text-center header2 mb-0">
          <div class="col-sm-12 mb-0">
            <h1 class ="mb-0">Create New Account</h1>
          </div>
        </div>
          <div class="box">
            <input class="field form-control mt-3" name="username" type="text" value="<%= username %>" required placeholder="Username"/>
            <input class="field form-control" name="password" type="password" required placeholder="Password"/>
            <input class="field form-control" name="passwordConf" type="password" required placeholder="Confirm Password"/>
            <input class="field form-control" name="phone" type="tel" required placeholder="Phone Number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number" maxlength="10" />
          </div>
          <div class="box mb-3" style="margin-top: 20px;">
            <input class="field form-control mt-3" name="address" required placeholder = "Address"/>
            <input class="field form-control" name="aptsuite" placeholder = "Apartment, suite, etc: "/>
            <input class="field form-control" name="city" required placeholder = "City"/>
            <input class="field form-control" name="state" required placeholder = "State/Province"/>
            <input class="field form-control" name="zip" type="number" required placeholder="zip" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number" maxlength="5" />
          <div class="text-right">
            <input class="main-button" style="margin-bottom:10px;" type="submit" value="Create" />
          </div>
        </div>
      </form>
</body>
<script src="/javascripts/global.js"></script>

</html>