<!DOCTYPE html>
<html>

<head>
  <title>Create New Account</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body style="background-color: #6aa84f;">
  <% if (err !==undefined && err.length> 0) { %>
    <div class="text-danger">
      <%= err %>
    </div>
    <% } %>
    <!-- Topbar -->
    <%- include('partials/topbar', {page: "CustomerAccount"});%>
      <form action="/users/createuser" method="post">
      <div style="margin-top: 26%;">
        <h1 class="header2" style="margin-left: 10%;">Create new account</h1>
          <div class="box" style="margin-top: 20px;">
            <label class="field-label text-left" for="username">Username: </label>
            <input class="field" name="username" type="text" value="<%= username %>" required />
            <label class="field-label text-left" for="password">Password: </label>
            <input class="field" name="password" type="password" required />
            <label class="field-label text-left" for="passwordConf">Confirm Password:</label>
            <input class="field" name="passwordConf" type="password" required />
            <label class="field-label text-left" for="phone">Phone Number: </label>
            <input class="field" name="phone" type="tel" required />
          </div>
          <div class="box" style="margin-top: 20px;">
            <label class="field-label text-left" for="address">Address: </label>
            <input class="field" name="address" required />
            <label class="field-label text-left" for="aptsuite">Apartment, suite, etc: </label>
            <input class="field" name="aptsuite" />
            <label class="field-label text-left" for="city">City: </label>
            <input class="field" name="city" required />
            <label class="field-label text-left" for="state">State/Province: </label>
            <input class="field" name="state" required />
            <label class="field-label text-left" for="zip">Zip: </label>
            <input class="field" name="zip" type="number" required />
          </div>
          <div class="text-center">
            <input class="main-button" style="margin-top: 10px; margin-bottom: 5vh;" type="submit" value="Create" />
          </div>
        </div>
      </form>
</body>
<script src="/javascripts/global.js"></script>

</html>